@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
  
}

h1{
    font-size: 3rem;
    

}
h2{
    text-align: center;
    padding-top: 5px;
}

.section {
   
background: rgba(192, 184, 184, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(192, 184, 184, 0.3);
padding: 15px 20px;
outline: none;
border: none;


}
 

.footer{
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
    
}


@media(max-width:290px){

    h1{
        font-size: 2.2rem;
    }
}